<% provide(:title, @user.full_name) %>
<div class = "row">
	<aside class = "span4">
		<h1 class = "profile_name">
			<%= gravatar_for @user, size: 125 %>
			<%= @user.full_name %>
		</h1>
	</aside>
	<div class = "span8">
		<% if @user.microposts.any? %>
			<h3>Microposts (<%= @user.microposts.count %>)</h3>
			<ol class = "microposts">
				<%= render @microposts %>
			</ol>
			<%= will_paginate @microposts %>
		<% end %>
	</div>	
</div>